

/* .tech-button{
	 text-align: center;
}

.rare{
	position: relative;
	right: -77%;
}



:root{
	--headingSize: 15px;
	--background-color: black;
}


.container{
	width: 10px;
}  */
/* 
.swift-up-text{
	position: absolute;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: right;
	width: 50px;
	margin-right: -5%;
} */

/* .swift-up-text {
	position: absolute;
	color: white;
	text-align: center;
	width: 100%;
  }
  
  .swift-up-text span {
	display: inline-block;
  } */

/* .swift-up-text {
    position: absolute;
    color: white;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    width: 100%;
} */

/* span{
  display: inline-block;
  overflow: hidden;
  animation: .3s swift-up ease-in-out forwards;	
} */

/* i{
  font-style: normal;
  position: relative;
  top: var(--headingSize);
  animation: .5s swift-up ease-in-out forwards;
}

@keyframes swift-up {
  to {
    top: 0;
  }
}

@media screen and (max-width: 1000px){
	.container{
		width: auto;
		margin: 0 10%;
	}
	
	:root{
		--headingSize: 35px;
	}
} */

/* .centerer{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#text{
	width: 70%;
	font-size: 3px;
	display: block;
	text-align: right;
}

.char{
	font-size: 10px;
	height: 40px;
	animation: an 1s ease-out 1 both;
	display: inline-block;
}

@keyframes an{
	from{
		opacity: 0;
		transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
	}
	to{
		opacity: 1;
		transform: perspective(500px) translate3d(0, 0, 0);
	}
} */
