@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.card-contentd{
    background-color: rgb(238, 238, 238);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    height: 700px;
    width: 1411px;
    margin-left: 4%;
}
.card-wrapper22{
    /* background-color: white; */
    max-width: 1100px;
    margin: 0 auto;
}

.retourlink{
    display: block;
    margin: 0 50px 0;
    font-size: 19px;
    font-weight: lighter;
    width: 100px;
    text-align: center;
    color: #333;
    padding: -5px 90px;
    top: 18px;
    background: #ffc107;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 6px  #efa424;
}

.retourlink:hover{
    box-shadow: 0 4px #efa424;
    top: 20px;
}

.retourlink:active{
    box-shadow: 0 0 #efa424;
    top: 19px;
}



img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating .content-spa{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price .content-spa{
    font-weight: 400;
}
.last-price .content-spa{
    color: #f64749;
    text-decoration: line-through;
}
.new-price .content-spa{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail .content-u{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail .content-u .content-lis{
    margin: 0;
    list-style: none;
    background: url(shoes_images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail .content-u .content-lis .content-spa{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 70px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
    width: 150px;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
    width: 150px;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

    /* @media screen and (min-width: 992px){

        /* .card-contentd{
            background-color: rgb(238, 238, 238);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border-radius: 20px;
            height: 700px;
            width: 1411px;
            margin-left: 4%;
        } *
        .card{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1.5rem;
        }
        .card-wrapper{
            height: 70vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .product-imgs{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .product-content{
            padding-top: 0;
        }
    } */

/* Styles pour les écrans de taille inférieure à 768 pixels */
@media (max-width: 600px) {
    /* Ajoutez ici les styles spécifiques aux écrans plus petits */
    .retourlink{
        display: block;
        margin: 0 50px 0;
        font-size: 12px;
        font-weight: lighter;
        width: 100px;
        text-align: center;
        color: #333;
        padding: -5px 90px;
        top: 21px;
        background: #ffc107;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        position: relative;
        box-shadow: 0 6px  #efa424;
    }
    .retourlink:hover{
    box-shadow: 0 4px #efa424;
    top: 20px;
    }

    .retourlink:active{
        box-shadow: 0 0 #efa424;
        top: 19px;
    }   
    
    .card-contentd{
        background-color: rgb(238, 238, 238);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        height: 600px;
        width: 150%;
        margin-left: -0.09%;
        overflow: scroll;
        /*  */
    }
    .card{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 1.1rem;
        margin-left: 1%
        
        
    }

    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: -15%;
    }


    
  }

  @media (min-width: 601px) and (max-width: 767px) {
    .retourlink{
        display: block;
        margin: 0 50px 0;
        font-size: 12px;
        font-weight: lighter;
        width: 100px;
        text-align: center;
        color: #333;
        padding: -5px 90px;
        top: 50px;
        background: #ffc107;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        position: relative;
        box-shadow: 0 6px  #efa424;
    }
    .retourlink:hover{
    box-shadow: 0 4px #efa424;
    top: 20px;
    }

    .retourlink:active{
        box-shadow: 0 0 #efa424;
        top: 19px;
    }   
    .product-content{
        position: relative;
        top: 5%;
    }
    .card-contentd{
        background-color: rgb(238, 238, 238);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        height: 640px;
        width: 100%;
        overflow: scroll;
        margin-left: 4%;
    }
    .card{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 1.5rem;
        margin-left: 1%
        
    }


    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 15%;
    }
  
  }

  @media (min-width: 768px) and (max-width: 991px) {
    /*ceci c'est le container parent */ 
    .card-contentd{
        background-color: rgb(238, 238, 238);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        height: 990px;
        width: 84%;
        overflow: scroll;
        margin-left: 15%;
    }
    /* container enfant*/
    .card{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 1.5rem;
        margin-left: 1%
        
    }

    /*bouton de retour */

        .retourlink{
            display: block;
            margin: 0 50px 0;
            font-size: 20px;
            font-weight: lighter;
            width: 100px;
            text-align: center;
            color: #333;
            padding: -5px 90px;
            top: 50px;
            background: #ffc107;
            outline: none;
            border: none;
            cursor: pointer;
            border-radius: 20px;
            position: relative;
            box-shadow: 0 6px  #efa424;
        }
        .retourlink:hover{
        box-shadow: 0 4px #efa424;
        top: 20px;
        }
    
        .retourlink:active{
            box-shadow: 0 0 #efa424;
            top: 19px;
        }  
    }

    /* container des caracteristiques*/
    .product-content{
        position: relative;
        top: 10%;
    }

    /*container des images */

    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 15%;
    }
  
    /*responsive pour grand ecran*/
    @media (min-width: 992px) and (max-width: 1130px) {


     /*ceci c'est le container parent */ 
     .card-contentd{
        background-color: rgb(238, 238, 238);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        height: 560px;
        width: 87%;
        /* overflow: scroll; */
        margin-left: 12%;
    }
    /* container enfant*/
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
        margin-left: 4%
        
    }

    /*container des images */

    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: -7%;
    }

    /* container des caracteristiques*/
     .product-content{
        position: relative;
        top: 2%;
    }

}

@media (min-width: 1131px) {
    /*ceci c'est le container parent */ 
    .card-contentd{
        background-color: rgb(238, 238, 238);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        height: 699px;
        width: 100%;
        /* overflow: scroll; */
        margin-left: 5%;
    }

    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
        margin-left: 4%
        
    }

      /*container des images */

      .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 2%;
    }
}