:root {
    --primary-bg: #242526;
    --secondary-bg: #fff;
    --primary-text-color: #555;
    --secondary-text-color: #cecece;
    --border-radius: 8px;
    --speed: 500ms;
  }

  

  a {
    text-decoration: none;
  }
  
  .menu-trigger img{
    position: absolute;
    top: 10px;
    right: 40px;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
  }
  
  .dropdown-menu{
    position: absolute;
    top: 100px;
    right: 20px;
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 200px;
  }
  
  .dropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
  }
  
  .dropdown-menu.active{
    height: 290px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
  }
  
  .dropdown-menu.inactive{
    height: 290px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
  }
  
  
  h3{
    width: 100%;
    text-align: center;
    padding: 25px 40px;
    font-weight: 500;
    font-size: 20px;
    color: var(--primary-text-color);
    line-height: 1.2rem;
  }
  
  h3 span{
    font-size: 14px;
    color: var(--secondary-text-color);
    font-weight: 400;
  }
  
  .dropdown-menu ul li{
    padding: 10px  0;
    border-top: 2px solid rgba(0, 0, 0, 0.182);
  }
  
  .dropdown-menu ul li:hover a{
    color: #a0e1f8;
    cursor: pointer;
  }
  
  .dropdown-menu ul li:hover img{
    opacity: 1;
    cursor: pointer;
  }
  
  .dropdownItem{
    display: flex;
    margin: 10px auto;
  }
  
  .dropdownItem img{
    max-width: 23px;  
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
  }
  
  .dropdownItem a{
    max-width: 100px;
    margin-left: 10px;
    transition: var(--speed);
    font-size: 16px;
  }

  .bloc{ 
    margin: 2px 10%;
  }

  .profile{
    position: absolute;
    top: 70%;
    border-radius: 50%;
    background-color: rgb(125, 215, 125);
    width: 10px;
    height: 10px;
    right: 50px;
    
  }