/* le block conteneur */
.marquee-rtl {
    position: absolute;
    top: 90%;
    max-width: 660em;                      /* largeur de la fenêtre */
    margin: 1em auto 2em;
    left: 64%;
    color: white;
    border: 10px solid transparent;
    overflow: hidden;                     /* masque tout ce qui dépasse */
}
.marquee-rtl > :first-child {
    display: inline-block;                /* modèle de boîte en ligne */
    padding-right: 1em;                   /* un peu d'espace pour la transition */
    padding-left: 100%;                   /* placement à droite du conteneur */
    white-space: nowrap;                  /* pas de passage à la ligne */
    animation: defilement-rtl 35s infinite linear;
}


@keyframes defilement-rtl {
    0% {
      transform: translate3d(0,0,0);      /* position initiale à droite */
    }
    100% {
      transform: translate3d(-100%,0,0);  /* position finale à gauche */
    }
}

.txte{
  position: absolute;
  top: 39%;
  color: white;
  padding-left: 4%;  
  font-size: x-large;
  
}


@media (max-width: 768px) {
  .marquee-rtl {
    position: absolute;
    top: 88%;
    max-width: 800em;                      /* largeur de la fenêtre */
    margin: 1em auto 2em;
    left: 72%;
    color: white;
    border: 10px solid transparent;
    overflow: hidden;                     /* masque tout ce qui dépasse */
}

.txte{
  position: absolute;
  top: 70%;
  color: white;
  padding-left: 8%;  
  font-size: x-large;
  
}
}